a {
  color: #0F426F;
}
a:hover {
  color: #0F426F;
}
.pre-header a:hover {
  color: #0F426F;
}
.shop-currencies a.current {
  color: #0F426F;
}
.header-navigation ul > li.active > a,
.header-navigation ul > li > a:hover,
.header-navigation ul > li > a:focus,
.header-navigation ul > li.open > a,
.header-navigation ul > li.open > a:hover,
.header-navigation ul > li.open > a:focus {
  color: #0F426F;
}
.header-navigation li.menu-search i:hover {
  color: #0F426F;
}
.sidebar a:hover {
  color: #0F426F;
}
.sidebar .dropdown.open .dropdown-toggle:hover {
  color: #0F426F;
}
.sidebar-menu .dropdown-menu li > a:hover, .sidebar-menu .dropdown-menu li > a:focus, .sidebar-menu li.active > a, .sidebar-menu li.active > a:hover {
  color: #0F426F;
}
.content-page a:hover, 
.sidebar2 a:hover {
  color: #0F426F;
}
.content-page .link, .content-page .link:hover, .content-page .link:active {
  color: #0F426F;
}
.page-404 .number,
.page-500 .number {
  color: #0F426F;
}
.content-form-page a:hover {
  color: #0F426F;
}
.quote-v1 a.btn-transparent:hover {
  background: #0F426F;
}
.recent-work h2 a:hover {
  color: #0F426F;
}
.recent-work .recent-work-item .fa:hover {
  color: #0F426F;
}
.our-clients h2 a:hover {
  color: #0F426F;
}
.front-team h3 strong {
  color: #0F426F;
}
.ecommerce .header-navigation ul > li.active > a,
.ecommerce .header-navigation ul > li > a:hover,
.ecommerce .header-navigation ul > li > a:focus,
.ecommerce .header-navigation ul > li.open > a,
.ecommerce .header-navigation ul > li.open > a:hover,
.ecommerce .header-navigation ul > li.open > a:focus {
  color: #0F426F;
}
.product-item h3 a:hover {
  color: #0F426F;
}
.checkout-page a:hover {
  color: #0F426F;
}


.langs-block-others:after { 
  border-bottom: 8px solid #0F426F;
}
.header-navigation > ul > li.dropdown:hover > a:after { 
  border-bottom: 8px solid #0F426F;
}
.header-navigation .dropdown-menu > li > a:hover,
.header-navigation .dropdown-menu > li.active > a,
.header-navigation .header-navigation-content .header-navigation-col li > a:hover,
.header-navigation .header-navigation-content .header-navigation-col li.active > a {
  background: #0F426F;
  color: #fff;
}
.header-navigation .dropdown-menu .header-navigation-content-ext li > a:hover,
.header-navigation .dropdown-menu .header-navigation-content-ext li.active > a {
  background: #fff;
  color: #0F426F;
}
.header-navigation .search-box:after { 
  border-bottom: 8px solid #0F426F;
}
.header-navigation .search-box {
  border-top: solid 2px #0F426F;
}
.title-wrapper h1 span {
  color: #0F426F;
}
.breadcrumb > .active {
  color: #0F426F;
}
.form-info h2 em {
  color: #0F426F;
}
.nav-tabs {
  border-color: #0F426F;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #0F426F;
}
.content-search h1 em {
  color: #0F426F;
}
.recent-work .recent-work-item:hover a.recent-work-description {
  background: #0F426F;
}
.testimonials-v1 blockquote:after { 
  background-color: #0F426F;
}
.testimonials-v1 span.testimonials-name {
  color: #0F426F;
}
.search-result-item h4 a {
  color: #0F426F;
}
.top-cart-content:after { 
  border-bottom: 8px solid #0F426F;
}
.goods-data a,
.checkout-page .checkout-description a {
  color: #0F426F;
}
.product-page .review a {
  color: #0F426F;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #0F426F;
    color: #fff;
}
.list-view-sorting a {
  background: #fff;
  color: #0F426F;
}



::-moz-selection {
  color: #fff;
  background: #0F426F;
}
::selection {
  color: #fff;
  background: #0F426F;
}
.steps-block ::-moz-selection {
  color: #0F426F;
  background: #fff;
}
.steps-block ::selection {
  color: #0F426F;
  background: #fff;
}



.owl-buttons .owl-prev:hover {
    background-color: #0F426F;
}
.owl-buttons .owl-next:hover {
    background-color: #0F426F;
}
.steps-block-red {
  background: #0F426F;
}
.pre-footer .photo-stream img:hover {
  border-color: #0F426F;
}
.pre-footer-light dl.f-twitter dd a {
  color: #0F426F;
}
.pre-footer-light address a {
  color: #0F426F;
}
.testimonials-v1 .left-btn:hover {
    background-color: #0F426F;
}
.testimonials-v1 .right-btn:hover {
    background-color: #0F426F;
}
.blog-tags li i,
.blog-info li i {
  color: #0F426F;
}
.blog-posts .more,
.blog-sidebar .more {
  color: #0F426F;
}
.recent-news h3 a {
  color: #0F426F;
}
.blog-photo-stream li img:hover {
  border-color: #0F426F;
}
.blog-tags li a:hover {
  color: #fff;
  background: #0F426F;
}
.blog-tags li a:hover:after { 
  border-left-color: #0F426F;
}
.sidebar-categories li > a:hover,
.sidebar-categories li.active > a,
.sidebar-categories li.active:hover > a {
  color: #0F426F;
}
.blog-item blockquote {
  border-color: #0F426F;
}
.blog-item h4.media-heading span a {
    color: #0F426F;
}
.front-steps-wrapper .front-step1 {
  background: #0F426F;
}
.pricing-active {
  border: 3px solid #0F426F;
  box-shadow: 7px 7px rgba(100, 174, 217, 0.2);
}
.pricing:hover {
  border: 3px solid #0F426F;
}
.pricing:hover h4 {
  color: #0F426F;
}
.pricing-head h3 {
  background: #0F426F;
}
.pricing-head-active h4 {
  color: #0F426F;
}
.pricing-content li i {
  color: #0F426F;
}
.top-cart-block .fa-shopping-cart {
  background: #0F426F;
}
.product-item .btn:hover {
  background: #0F426F;
}
.pi-price {
  color: #0F426F;
}
.product-item .add2cart:hover {
  color: #fff !important;
  background: #0F426F !important;
  border-color: #0F426F;
}
.goods-page-price strong, 
.goods-page-total strong,
.checkout-price strong,
.checkout-total strong {
  color: #0F426F;
}
.shopping-total strong,
.checkout-total-block strong {
  color: #0F426F;
}
.compare-item strong {
  color: #0F426F;
}
.sidebar-products .price {
    color: #0F426F;
}
.price-availability-block .price strong {
  color: #0F426F;
}

.require {
  color: #0F426F;
}
.content-form-page .form-control:focus {
  border: solid 1px #0F426F;
}
.content-search input:focus {
  border: solid 1px #0F426F;
}

.btn-primary {
  background: #0F426F;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #0F426F;
}

.header-navigation .dropdown-menu > li:first-child {
    border-top: 2px solid #0F426F;
}
.front-steps-wrapper .front-step1:after {
    border-left: 15px solid #83BEE0;
}

.del-goods:hover,
.add-goods:hover {
  background-color: #83BEE0;
}

.sidebar a:hover > .fa-angle-down {
  background-position: -22px 0;
}
.sidebar .collapsed:hover > .fa-angle-down {
  background-position: -22px -37px;
}

.top-cart-content {
  border-top: solid 2px #83BEE0;
}

.front-skills .progress-bar {
  background: #83BEE0;
}

.service-box-v1:hover {
  background: #83BEE0;
}

.header .mobi-toggler:hover {
  background-color: #83BEE0;
  border-color: #83BEE0;
}

@media (max-width: 1024px) {
  .header .header-navigation li > a:hover,
  .header .header-navigation li.active > a,
  .header .header-navigation li.open > a:hover {
    color: #83BEE0 !important;
  }
}

.faq-tabbable {
  border-left: solid 2px #83BEE0;
}
.faq-tabbable li:hover a,
.faq-tabbable li.active a{
  background: #83BEE0;
}
.faq-tabbable li.active:after {
  border-left: 6px solid #83BEE0;
}

.mix-filter li:hover, .mix-filter li.active {
    background: #83BEE0;
    color: #fff;
}
.mix-grid .mix .mix-details {
  background: #83BEE0;
}
.mix-grid .mix a.mix-link, 
.mix-grid .mix a.mix-preview {
  background: #1ab8db;
}
.langs-block-others {
  border-top: solid 2px #83BEE0;
}

.brands .owl-buttons .owl-prev:hover {
    background-position: 18px -325px;
}
.brands .owl-buttons .owl-next:hover {
    background-position: -249px -325px;
}
.header-navigation ul > li.active > a/*,
.ecommerce .header-navigation ul > li.active > a*/ {
  border-bottom: 2px solid #83BEE0;
}