/* here you can put your own css to customize and override the theme */
ul.social-footer.list-unstyled.list-inline.pull-right {
  margin-right: 3rem;
}
.afiliado h1{
	/*font: 400 37px "PT Sans Narrow", Arial, sans-serif;*/
	color: #C63430;
	font-weight: 600;
  	margin: 0 0 10px;
  	text-align: center;
}
.afiliado h1:after{
	z-index: 2;
  	content: " ";
  	display: block;
  	padding-top: 7px;
  	border-bottom: 2px solid #b7bbbf;
  	width: 73px;
  	margin: 2rem auto;
}
.afiliado h3{
	font-weight: 600;
}
.afiliado h4{
	font-size: 18px;
	padding: 0;
  	margin: 0;
}
.blue_cajacopi{
	background-color: #0F426F;
}
.blue_cajacopi:hover{
	color: #64AED9;
}
.contactenos{
	margin-top: 4em;
}

.content-center {
  text-align: center;
}
.content-page a.inscribirse, .sidebar2 a.inscribirse
{
	color: #FFF;
	margin-top: 3rem;
}
.footer-certificados{
	display: inherit;
	margin: 0 auto;
	height: auto;
	width: 50%;
}
.header{
	margin-top: 37px;
}
.header .mobi-toggler{
	margin-top: 63px;
}
.list-novedades-description{
	padding-left: 1.6rem;
}
.mix-grid .mix a.mix-link{
	margin-right: 0px;
	right: 42%;
	top: 7rem;
}
.menu-search{
	margin-left: 5rem;
}
.novedades{
	margin-top: 10rem;
}

.novedades-descripcion-iconos{
	margin: 6rem 0;
}
.novedades-descripcion-iconos div{
	padding-left: 0;
}
.portal-cajacopi{
	background-color: #0F426F;
  	padding: 5px;
  	border-radius: 8% !important;
  	margin-right: 10px;
}
.portal-cajacopi a{
	color: #FFF;
	font-weight: 600;
	padding-right: 10px;
}
.portal-cajacopi a:hover, 
.portal-cajacopi a:active{
	color: #0DA3E2;
	text-decoration: none;
}
.portal-cajacopi img{
	height: auto;
	width: 20px;
}
.pre-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 100000;
}
.pre-footer-col p{
	margin-left: 8em;
}
.revista-portada{
	border: 10px solid #c9c9c9;
	height: 0;
	margin-left: 3.5rem;
	opacity: 0;
	position: absolute;	
}
.revista{
  	left: 0;
 	position: relative;
 	top: 400px;
	z-index: 9999;
}
.revista:hover .revista-portada{
	height: auto;
	opacity: 1;
	position: absolute;
	-webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
	width: 7%;
}
.revista div{
	background-color: #0F426F;
	top: 0;
  	left: 0;
  	cursor: pointer;
  	position: absolute;
  	margin: 0;
}
.revista div img{
	height: auto;
	width: 35px;
}
.recent-work .recent-work-item:hover .fa-link{
	left: 40%;
}
.service-box{
	background-color: #EEEEEE;
	padding: 3rem;
}
.services-block {
  background: #f6f6f6;
  padding: 60px 0 70px;
 }
.services-block figure {
  background: #C63430;
  /*padding: 19px 18px;*/
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
  position: relative;
  margin:0 auto 29px auto;
}
.services-block figure:after {
	bottom: -8px;
  	width: 0;
  	height: 0;
	left: 50%;
	margin-left: -9px;
	z-index: 2;
	content: " ";
	display: block;
	position: absolute;
	border-top: 9px solid #C63430;
	border-right: 9px solid transparent;
	border-left: 9px solid transparent;
}
.services-block .afiliado-item {
  height: 70px;
  margin-top: 10px;
  padding: 19px 18px;
  width: 70;
}
.services-block .row {
  padding-top: 44px;
}
.services-block .item {
  border-right: solid 1px #e8e7e7;
  padding-top: 9px;
}
.services-block .col-md-3:last-child {
  border-right: none;
}
.subcategoria{
	opacity:0;
    clear: both;
	height: 0;
	overflow: hidden;
	-webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}
.subcategoria li{
	list-style: none;
}
.sidebar-categories li:hover .subcategoria{
	opacity: 1;
	height: 100%;
}
.site-logo{
	margin-left: -1.2rem;
	padding-top: 0;
	padding-bottom: 0;
}
.site-logo-footer{
	height: auto;
	width: 20%;
	margin-bottom: 1rem;
	margin-left: -1rem;
}
.site-logo img{
	height: auto;
	width: 80%;
}
.slide_subtitle{
	background-color: #BB2007;
}
.slide_subtitle_two{
	background-color: #0F426F;
}

.title-pqrs{
	margin-left: 8em;
}

.title-pqrs a{
	font-size: 3rem;
	font-weight: bold;
}
.title-pagina{
	margin-bottom: 6rem;
}
.title-novedades:hover{
	text-decoration: underline;
}

.ubicaciones{
	margin-top: -2em;
}

.ubicaciones h2{
	margin-bottom: 4rem;
}
@media (max-width: 766px){
	.additional-nav{
		display: inline-block;
		vertical-align: top;
	}
	.logo-small{
		height: auto;
		margin-top: 0rem;
		width: 40%;
	}
	.site-logo{
		margin-top: 5rem;
		width: 32%;
	}
	.slide_title{
		font-size: 18px !important;
	}
	.slide_subtitle,
	.slide_desc,
	.slide_btn{
		font-size: 13px !important;
	}
	.slide_btn{
		padding: 10px !important;
	}
	.pre-header .additional-nav-mobile{
		float: left;
		margin-left: 1rem;
		margin-top: 1rem; 
	}

}
@media (max-width: 480px) {
	.site-logo{
		margin-right: 0rem;
		margin-top: 4rem;
		width: 40%;
	}
	.mobi-toggler{
		margin-top: 5rem !important;
	}
}
@media (max-width: 385px) {
	.mobi-toggler{
		margin-left: 0rem !important;
	}
	
}